*{
	margin: 0;
	padding: 0;
}

.row{
	padding: 10px;
	text-align: left;
}

.row .col{
	padding: 10px;
	
}

img{
	width: 10%;
}

#imagem{
	width: 30%;
}

#imagem2{
	width: 25%;
}

#img_swat{
	width: 50%;

}

h3{
	font-family: Audiowide, Impact, "Arial Black";
	font-size: 40px;
	margin: 30px; 
	color: #777777;
	text-align: center;
}

h4{
	font-family: Audiowide, Impact, "Arial Black";
	font-size: 40px;
	color: white;
	text-align: center;
	margin-right: 100px;
}

h5{
	font-family: Audiowide, Impact, "Arial Black";
	font-size: 25px;
	color: white;
	text-align: center;
	margin-right: 100px;
	
}

p{
	font-family: Avenir, Arial, sans-serif;
	font-size: 20px;
	color: #212121;
	text-indent: 250px;
}

#nav{
	font-family: Audiowide, Impact, "Arial Black";
	font-size: 20px;
	color: white; 	
}

#navbarDropdownMenuLink{
	font-family: Audiowide, Impact, "Arial Black";
	font-size: 15px;
	color: white; 	
}

#texto{
	text-align: left;
	font: 16px Avenir, Arial, sans-serif;
	color: black;
	padding: 5px;
}

#slides{
	text-align: justify;
	font: 18px Avenir, Arial, sans-serif;
	color: white;
	padding: 28px;
	background-color: #563D7C;
	text-indent: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 40px;
	margin-right: 40px;
}

#slides2{
	padding: 10px;
}

